{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Crie sua nova senha</h2>
                {% if validlink %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary" style="margin-top: 6px;">Criar nova senha</button>
                </form>
                {% else %}
                <h4 class="text-danger" style="margin-top: 20px;">Este link já foi utilzado anteriomente.</h4>
                <p class="card-text">
                    <a href="{% url 'password_reset' %}">Solicite uma nova senha.</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}