{% extends './../base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<h3>Movimentos para ordens de serviço</h3>
{% endblock header %}

{% block content %}

{% if form %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col" style="text-align: right;">Valor (R$)</th>
            <th scope="col" style="text-align: right;">Núm. Movimentos</th>
        </tr>
    </thead>
    <tbody>
        {% for item in form %}
        <tr>
            <td>{{ item.nome_paciente }}</td>
            <td align="right">{{ item.valor_total}}</td>
            <td align="right">{{ item.num_movimentos}}</td>

            <td>
                <a href="{% url 'core_os_selecionar_movimentos' id_paciente=item.paciente_id %}">[ Criar Ordem Servico]</a>
                &nbsp;|&nbsp;
                <!-- <a href="{% url 'core_editar_movimento' id_movimento=item.id %}">Editar</a>
                <a href="#"
                    onclick="confirmar_exclusao('#url_{{ item.id }}','Excluir movimento de {{ item.tipo_operacao }}')">Excluir</a>
                <input width="1px" type="hidden" id="url_{{ item.id }}"
                    data-url="{% url 'core_excluir_movimento' id_movimento=item.id %}" /> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h4>Não há ordens de serviço até o momento.</h4>
{% endif %}


</br>
<!-- <a href="{ url 'core_criar_movimentacao' id_paciente=id_paciente %}">+ Criar movimento</a> -->
<input type=button class="btn" value="Voltar" onClick="window.history.back();return false;">
</ul>
{% endblock %}

{% block javascript %}
<script>
    function confirmar_exclusao(url, msg) {
        if (confirm(msg)) {
            document.location.href = $(url).attr("data-url");;
        }
    }
</script>
{% endblock %}