{% extends './../base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<h3>Ordem de serviço - {{nome_paciente}}</h3>
</br>
<h4>Selecionar a movimentação</h4>
<hr>
{% endblock header %}

{% block content %}

<div class="table-responsive">

    <form method="POST">
        {% csrf_token %}
        {{formset.management_form|crispy}}

        {% for form in formset %}
        {{ form }}
        <hr>
        {% empty %}
        <tr>
            <h3>Não há movimentos para o paciente até o momento</h3>
        </tr>
        {% endfor %}
        <br />
        <div>
            <button type="submit" class="btn btn-danger btn-lg">Submit</button>
        </div>

    </form>

{% endblock %}